<!doctype html>
<html class="js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">

    <title>KICKS</title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {{ content_for_header }}
    {{ 'theme.css' | asset_url | stylesheet_tag }}

    {% comment %} fonts {% endcomment %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
      rel="stylesheet"
    >
    <link rel="stylesheet" href="{{ 'glide.min.css' | asset_url }}">
  </head>

  <body>
    {% section 'header' %}
    {{ content_for_layout }}
    {% section 'footer' %}
     <script src="{{ 'glide.min.js' | asset_url }}" defer="defer"></script>
  </body>
</html>
