{{ 'homepage.css' | asset_url | stylesheet_tag }}

<main class="homepage">
  <p class="title">DENSE . <span class="blue">PXI</span></p>

  {% comment %} BANNER {% endcomment %}
  <div id="glide" class="glide">
    <div style="width:100%; position:relative" class="glide__track" data-glide-el="track">
      <div class="glide__slides banner-container">
        <div class="glide__slide banner">
          <img src="{{ "home-bg.jpg" | asset_url }}" alt="banner" loading="lazy">
          <div class="banner-content flex justify-between items-end">
            <div class="flex flex-col banner-info">
              <p class="banner-title">NIKE AIR MAX</p>
              <p class="banner-desc">
                Nike introducing the new air max for <br class="banner-desc-break">
                everyone's comfort
              </p>
              <button>SHOP NOW</button>
            </div>
            <div class="flex flex-col banner-preview-container">
              <img src="{{ "nike1.jpg" | asset_url }}" alt="banner" class="banner-preview" loading="lazy">
              <img src="{{ "nike2.jpg" | asset_url }}" alt="banner" class="banner-preview" loading="lazy">
            </div>
          </div>
          <div class="banner-gradient"></div>
          <div class="banner-label">
            <p>Nike product of the year</p>
          </div>
        </div>
        <div class="glide__slide banner">
          <img src="{{ "adidas3.webp" | asset_url }}" alt="banner" loading="lazy">
          <div class="banner-content flex justify-between items-end">
            <div class="flex flex-col banner-info">
              <p class="banner-title">ADIDAS SAMBA OG</p>
              <p class="banner-desc">
                Adidas introducing the samba og for <br  class="banner-desc-break">
                everyone's comfort
              </p>
              <button>SHOP NOW</button>
            </div>
            <div class="flex flex-col banner-preview-container">
              <img src="{{ "adidas1.jpg" | asset_url }}" alt="banner" class="banner-preview" loading="lazy">
              <img src="{{ "adidas2.jpg" | asset_url }}" alt="banner" class="banner-preview" loading="lazy">
            </div>
          </div>
          <div class="banner-gradient"></div>
          <div class="banner-label">
            <p>Adidas product of the year</p>
          </div>
        </div>
        <div class="glide__slide banner">
          <img src="{{ "speedcat1.webp" | asset_url }}" alt="banner" loading="lazy">
          <div class="banner-content flex justify-between items-end">
            <div class="flex flex-col banner-info">
              <p class="banner-title">PUMA SPEEDCAT OG</p>
              <p class="banner-desc">
                Puma introducing the speedcat og for <br  class="banner-desc-break">
                everyone's comfort
              </p>
              <button>SHOP NOW</button>
            </div>
            <div class="flex flex-col banner-preview-container">
              <img src="{{ "speedcat2.webp" | asset_url }}" alt="banner" class="banner-preview" loading="lazy">
              <img src="{{ "speedcat3.jpeg" | asset_url }}" alt="banner" class="banner-preview" loading="lazy">
            </div>
          </div>
          <div class="banner-gradient"></div>
          <div class="banner-label">
            <p>Puma product of the year</p>
          </div>
        </div>
      </div>
      <div class="banner-dots flex  items-center ">
        <div class="banner-dot"></div>
        <div class="banner-dot"></div>
        <div class="banner-dot"></div>
      </div>
    </div>
  </div>

  {% comment %} NEW KICKS {% endcomment %}
  <div class="latest">
    <div class="flex items-end justify-between latest-header latest-header-title">
      <p>
        Don’t miss out <br>
        new drops
      </p>
      <button>SHOP NEW DROPS</button>
    </div>
    <div class="flex latest-kicks">
      {% for product in collections.all.products %}
        <div class="latest-kick-container">
          <div class="latest-kick-image-frame">
            <img class="new" alt="{{ product.title }}" src="{{ product.featured_media | image_url }}">
            <div class="new-tag flex items-center justify-center">
              <p>New</p>
            </div>
          </div>
          <p class="latest-kick-title">{{ product.title }}</p>
          <button>
            VIEW PRODUCT -
            <span class="orange latest-kick-button-span">
              {{ '  ' }}
              {{ product.price | money_without_trailing_zeros -}}
            </span>
          </button>
        </div>
      {% endfor %}
    </div>
  </div>

  {% comment %} CATEGORIES {% endcomment %}
  <div class="categories">
    <div class="categories-header flex items-center">
      <p> <span class="categories-header-label">SOLD ONLY IN</span> PREMIUM QUALITY</p>
      <p>|</p>
      <p> <span class="categories-header-label">SUBSCRIBE TO OUR </span>CARE PROGRAM</p>
      <p>|</p>
      <p> FREE RETURNS<span class="categories-header-label">EVEN AFTER 2 WEEKS</span> </p>
    </div>
    <div class="flex items-center justify-between categories-label-container">
      <p class="categories-label">CATEGORIES</p>
      <div class="flex item-center categories-nav">
        <div class="categories-nav-button">
          {% render 'icon-chevron-left' %}
        </div>
        <div class="categories-nav-button">
          {% render 'icon-chevron-right' %}
        </div>
      </div>
    </div>
    <div class="flex categories-slides">
      {% for collection in collections %}
        <div class="categories-slide">
          <div class="categories-slide-header">
            <div class="flex items-center justify-between categories-slide-size-header">
              <p>SIZE</p>
              <p class="chart">SIZE CHART</p>
            </div>
            <div class="flex items-center categories-slide-sizes">
              <div class="categories-slide-size size-black">
                <p>38</p>
              </div>
              <div class="categories-slide-size size-black">
                <p>39</p>
              </div>
              <div class="categories-slide-size size-grey">
                <p>40</p>
              </div>
              <div class="categories-slide-size size-grey">
                <p>41</p>
              </div>
              <div class="categories-slide-size ">
                <p>42</p>
              </div>
              <div class="categories-slide-size ">
                <p>43</p>
              </div>
              <div class="categories-slide-size ">
                <p>44</p>
              </div>
              <div class="categories-slide-size ">
                <p>45</p>
              </div>
              <div class="categories-slide-size ">
                <p>46</p>
              </div>
              <div class="categories-slide-size ">
                <p>47</p>
              </div>
            </div>
          </div>
          <img alt="categories-img" class="categories-slide-img" loading="lazy" src="{{  collection.featured_image | image_url}}">
          <div class="categories-slide-footer flex items-center justify-between">
            <p>{{ collection.title }}</p>
            <div class="categories-slide-link">
              {% render 'icon-arrow' %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

  {% comment %} REVIEWS {% endcomment %}
  <div class="latest">
    <div class="flex items-end justify-between latest-header">
      <p>REVIEWS</p>
      <button>SEE ALL</button>
    </div>
    <div class="flex reviews">
      <div class="review">
        <div class="review-header flex items-center">
          <div class="flex-1">
            <p class="review-title">Good Quality</p>
            <p class="review-desc">I highly recommend shopping from kicks</p>
            <div style="gap:4px" class="flex items-center">
              <div class="flex items-center">
                {% render 'icon-star' %}
                {% render 'icon-star' %}
                {% render 'icon-star' %}
                {% render 'icon-star' %}
                {% render 'icon-star' %}
              </div>
              <p class="review-rating">5.0</p>
            </div>
          </div>
          <img class="review-avatar" alt="reviewer-1" src="{{ "reviewer1.jpg" | asset_url }}" loading="lazy">
        </div>
        <img class="review-image" src="{{ "review1.png" | asset_url }}" loading="lazy">
      </div>

      <div class="review">
        <div class="review-header flex items-center">
          <div class="flex-1">
            <p class="review-title">Good Quality</p>
            <p class="review-desc">I highly recommend shopping from kicks</p>
            <div style="gap:4px" class="flex items-center">
              <div class="flex items-center">
                {% render 'icon-star' %}
                {% render 'icon-star' %}
                {% render 'icon-star' %}
                {% render 'icon-star' %}
                {% render 'icon-star' %}
              </div>
              <p class="review-rating">5.0</p>
            </div>
          </div>
          <img class="review-avatar" alt="reviewer-1" src="{{ "reviewer2.png" | asset_url }}" loading="lazy">
        </div>
        <img class="review-image" src="{{ "review2.png" | asset_url }}" loading="lazy">
      </div>

      <div class="review">
        <div class="review-header flex items-center">
          <div class="flex-1">
            <p class="review-title">Good Quality</p>
            <p class="review-desc">I highly recommend shopping from kicks</p>
            <div style="gap:4px" class="flex items-center">
              <div class="flex items-center">
                {% render 'icon-star' %}
                {% render 'icon-star' %}
                {% render 'icon-star' %}
                {% render 'icon-star' %}
                {% render 'icon-star' %}
              </div>
              <p class="review-rating">5.0</p>
            </div>
          </div>
          <img class="review-avatar" alt="reviewer-1" src="{{ "reviewer3.png" | asset_url }}" loading="lazy">
        </div>
        <img class="review-image" src="{{ "review3.png" | asset_url }}" loading="lazy">
      </div>
    </div>
  </div>
</main>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const glide = new Glide('#glide', {
      type: 'carousel',
      autoplay: 5000,
      perView: 1,
      hoverpause: false,
      loop: true,
    }).mount();

    const dots = document.querySelectorAll('.banner-dot');

    function updateActiveDot(index) {
      dots.forEach((dot, i) => {
        dot.classList.toggle('banner-dot-active', i === index);
      });
    }

    glide.on('run.after', function () {
      updateActiveDot(glide.index);
    });

    dots.forEach((dot, index) => {
      dot.addEventListener('click', function () {
        glide.go(`=${index}`);
      });
    });

    updateActiveDot(0);

    const slidesContainer = document.querySelector('.categories-slides');
    const prevBtn = document.querySelector('.categories-nav-button:first-child');
    const nextBtn = document.querySelector('.categories-nav-button:last-child');

    const slide = document.querySelector('.categories-slide');
    const slides = document.querySelectorAll('.categories-slide');
    const slideWidth = slide.offsetWidth + 16;

    slides.forEach((item) => {
      const details = item.querySelector('.categories-slide-header');

      item.addEventListener('mouseenter', () => {
        details.classList.add('show');
      });

      item.addEventListener('mouseleave', () => {
        details.classList.remove('show');
      });
    });

    function updateButtons() {
      const maxScrollLeft = slidesContainer.scrollWidth - slidesContainer.clientWidth;

      if (slidesContainer.scrollLeft <= 0) {
        prevBtn.classList.add('disabled');
        prevBtn.style.pointerEvents = 'none';
        prevBtn.style.opacity = '0.5';
      } else {
        prevBtn.classList.remove('disabled');
        prevBtn.style.pointerEvents = 'auto';
        prevBtn.style.opacity = '1';
      }

      if (slidesContainer.scrollLeft >= maxScrollLeft - 1) {
        nextBtn.classList.add('disabled');
        nextBtn.style.pointerEvents = 'none';
        nextBtn.style.opacity = '0.5';
      } else {
        nextBtn.classList.remove('disabled');
        nextBtn.style.pointerEvents = 'auto';
        nextBtn.style.opacity = '1';
      }
    }

    nextBtn.addEventListener('click', () => {
      slidesContainer.scrollBy({
        left: slideWidth,
        behavior: 'smooth',
      });
    });

    prevBtn.addEventListener('click', () => {
      slidesContainer.scrollBy({
        left: -slideWidth,
        behavior: 'smooth',
      });
    });

    slidesContainer.addEventListener('scroll', updateButtons);

    updateButtons();
  });
</script>
